html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.backImg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.say{
    width: 600px;
    height: auto;
    position: absolute;
    left: 100%;
    bottom: 100px;
    margin-left: -800px;
    font-size: 16px;
    color: white;
    font-family: Arial;
    font-style: oblique;
    text-shadow: 5px 5px 5px #cccccc;
    z-index: 20;
}
.cloud1{
    width: 147px;
    height: 400px;
    margin-top: -200px;
    position: absolute;
    background: url("../image/cloud_01.png");
    left: 20%;
    z-index: 1;
    animation: cloud1 4s linear 0s infinite;
}
.cloud2{
    width: 184px;
    height: 400px;
    margin-top: 0px;
    position: absolute;
    background: url("../image/cloud_02.png");
    left: 60%;
    z-index: 1;
    animation: cloud2 4s linear 0s infinite;
}
.cloud3{
    width: 228px;
    height: 400px;
    margin-top: -200px;
    position: absolute;
    background: url("../image/cloud_03.png");
    left: 80%;
    z-index: 1;
    animation: cloud3 4s linear 0s infinite;
}
.cloud4{
    width: 135px;
    height: 82px;
    margin-top: -200px;
    position: absolute;
    background: url("../image/cloud_04.png");
    top: 50%;
    left: 40%;
    z-index: 2;
    animation: cloud4 20s linear 0s infinite;
}
@keyframes cloud1 {
    0%{
        margin-top: -200px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: -200px;
    }
}
@keyframes cloud2 {
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -200px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes cloud3 {
    0%{
        margin-top: -200px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: -200px;
    }
}
@keyframes cloud4 {
    0%{
        left: 40%;
    }
    50%{
        left: 0%;
    }
    100%{
        left: 40%;
    }
}

.moon{
    width: 150px;
    height: 174px;
    position: absolute;
    background: url("../image/moon.png");
    top: 26%;
    left: 26%;
    z-index: 1;
    animation: moon 5s linear 0s infinite;
}

@keyframes moon {
    0%{
        transform: rotate(60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(60deg);
    }
}
.fish1{
    width: 235px;
    height: 94px;
    position: absolute;
    background: url("../image/fish_01.png") center top no-repeat;
    left: 40%;
    bottom:60px;
    z-index: 1;
    animation: fish1 6s linear 2s infinite;
}
.fish2{
    width: 228px;
    height: 139px;
    position: absolute;
    background: url("../image/fish_02.png") center top no-repeat;
    left: 40%;
    left:40%;
    bottom:60px;
    z-index: 1;
    animation: fish2 6s linear 0s infinite;
}
@keyframes fish1 /* Firefox */
{
    0%		{-moz-transform: rotate(0deg);left:40%; bottom:60px;}
    25%		{-moz-transform: rotate(-20deg);left:30%; bottom:200px;}
    50%		{-moz-transform: rotate(-40deg);left:20%; bottom:300px;}
    55%		{-moz-transform: rotate(-50deg);left:10%;  bottom:200px;}
    70%		{-moz-transform: rotate(-60deg);left:0%; bottom:100px;}
    100%	{-moz-transform: rotate(-70deg);left:-10%;  bottom:-100px;}
}
@keyframes fish2 /* Firefox */
{
    0%		{-moz-transform: rotate(0deg);left:40%; bottom:60px;}
    25%		{-moz-transform: rotate(-20deg);left:30%; bottom:200px;}
    50%		{-moz-transform: rotate(-40deg);left:20%; bottom:300px;}
    55%		{-moz-transform: rotate(-50deg);left:10%;  bottom:200px;}
    70%		{-moz-transform: rotate(-60deg);left:0%; bottom:100px;}
    100%	{-moz-transform: rotate(-70deg);left:-10%;  bottom:-100px;}
}
.ship{
    width: 412px;
    height: 400px;
    position: absolute;
    background: url("../image/ship.png") center top no-repeat;
    top: 100%;
    left: 70%;
    margin-top: -480px;
    z-index: 0;
    animation: ship 5s linear 0s infinite;
}
@keyframes ship {
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

.wave1{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
    margin-top: -205px;
    background: url("../image/wave_01.png") center top no-repeat;
    z-index: 1;
    animation: wave1 5s linear 2s infinite;
}
.wave2{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
    margin-top: -235px;
    background: url("../image/wave_02.png") center top no-repeat;
    z-index: 1;
    animation: wave2 5s linear 0s infinite;
}
.wave3{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
    margin-top: -205px;
    background: url("../image/wave_03.png") center top no-repeat;
    z-index: 1;
    animation: wave3 5s linear 0s infinite;
}
@keyframes wave1 {
    0%{
        margin-top: -205px;
    }
    50%{
        margin-top: -235px;
    }
    100%{
        margin-top: -205px;
    }
}
@keyframes wave2 {
    0%{
        margin-top: -235px;
    }
    50%{
        margin-top: -205px;
    }
    100%{
        margin-top: -235px;
    }
}
@keyframes wave3 {
    0%{
        margin-top: -205px;
    }
    50%{
        margin-top: -235px;
    }
    100%{
        margin-top: -205px;
    }
}